* {
    padding: 0;
    margin: 0;
}


body {
    padding-top: 74px;
}

.registration {
    display: flex;
    flex-direction: column;
}

.registration a {
    margin-bottom: 3px;
    display: block; 
    text-align: center; 
}

a {
    text-decoration: none;
}

.head-item-active {
    font-weight: bold;
}

.sidebar-item-active {
    font-weight: bold;
}

header {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.head-items {
    margin-left: 20px;
    margin-right: auto;
    margin-bottom: 3px;
    display: flex;
}

.head-item,
.head-item-active {
    display: flex;
    padding: 23px;
    text-align: center;
    align-items: center;
    cursor: pointer;
    font-family: "MyFont2", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 19px;
    transition: background-color 0.3s;
    text-decoration: none;
}

.logo-site {
    margin-right: 20px;
    width: 70px;
}

.user-info {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.welcome-message,
.registration-links {
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.user-info.logged-in .welcome-message {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    font-size: 18px;
    text-align: right;
}

#logout-link {
    text-decoration: none;
    border-radius: 3px;
    padding: 5px;
    padding-top: 0px;
    transition: background-color 0.3s ease;
    display: block;
    text-align: right;
    font-size: 14px;
}

#user-nickname {
    font-weight: bold;
    margin-bottom: 5px;
    font-family: "MyFont2", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
}

#logout-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
}

.user-info:not(.logged-in) .registration-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-info:not(.logged-in) .registration-item,
.user-info:not(.logged-in) .login-item {
    padding: 7px;
    text-align: center;
    align-items: center;
    cursor: pointer;
    font-family: "MyFont2", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 19px;
    transition: background-color 0.3s;
    text-decoration: none;
}

.container {
    display: grid;
    grid-template-columns: 12% auto;
    padding-bottom: 10px;
    min-height: 100vh;
}

.sidebar-left {
    display: flex;
    flex-direction: column;
    border-bottom-right-radius: 10px; 
}

.sidebar-item, .sidebar-item-active {
    padding: 20px;
    text-align: center;
    cursor: pointer;
    font-family: "MyFont", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 19px;
    transition: background-color 0.3s;
}

.main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.head-main {
    display: flex;
    grid-column: span 3;
    justify-content: center;
    align-items: top;
    font-family: "MyFont";
    font-size: 32px;
    padding: 20px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    font-family: "MyFont";
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer img {
    text-decoration: none;
    margin: 0 10px;
    width: 30px;
    cursor: pointer;
}

footer img:hover {
    text-decoration: underline;
}

.social-icons {
    margin-top: 10px;
}

.cookie-settings {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
}

.cookie-settings button {
    padding: 8px 12px;
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cookie-settings button:hover {
    background-color: #777;
}

.theme-switch {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.theme-switch img {
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.3s, color 0.3s;
    margin: 0 5px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
}

.not-logged-in-message, .not-logged-in-message-upload-track {
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    margin-top: 20px;
    font-family: "MyFont2", serif;
    font-weight: 500;
    font-style: normal;     
    font-size: 30px;
    transition: background-color 0.3s;
    text-decoration: none;
    
}

.not-logged-in-message-upload-track {
    margin: 40px;
}

.not-logged-in-message a, 
.not-logged-in-message-upload-track a {
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
}

.not-logged-in-message a:hover,
.not-logged-in-message-upload-track a:hover {
    cursor: pointer;
}

.hidden {
    display: none;
}




/* Выбор темы*/
/*Светлая тема*/

body.light-theme {
    background-color: rgb(218, 215, 215);
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.light-theme .registration a {
    color: white;
    transition: background-color 0.5s ease, color 0.5s ease;
}


body.light-theme .head-item-active {
    background-color: rgb(202, 88, 179);
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.light-theme .sidebar-item-active {
    color: white;
    background-color: rgb(202, 88, 179);
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.light-theme header {
    background: linear-gradient(90deg, rgb(53, 47, 162) 0%, rgba(255, 255, 255, 1) 0%, rgba(122, 9, 224, 1) 100%) !important;
    color: black;
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.light-theme .head-item,
body.light-theme .head-item-active {
    color: black;
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.light-theme .head-item:hover,
body.light-theme .head-item-active:hover {
    background-color: rgb(255, 3, 192) !important;
    color: white;
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.light-theme .user-info.logged-in .welcome-message {
    color: white;
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.light-theme #logout-link {
    color: rgba(255, 255, 255, 0.7);
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.light-theme #user-nickname {
    color: white;
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.light-theme .user-info:not(.logged-in) .registration-item,
body.light-theme .user-info:not(.logged-in) .login-item {
    color: white;
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.light-theme .user-info:not(.logged-in) .registration-item:hover,
body.light-theme .user-info:not(.logged-in) .login-item:hover {
    background-color: rgb(255, 3, 192);
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.light-theme .sidebar-left {
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(232,231,231,1) 0%, rgba(122,9,224,1) 100%);
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.light-theme .sidebar-item, 
body.light-theme .sidebar-item-active {
    color: black;
    border-bottom: 1px solid rgba(255, 0, 238, 0.388);
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.light-theme .sidebar-item:hover, 
body.light-theme .sidebar-item-active:hover {
    background-color: rgba(203, 6, 154, 0.488);
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.light-theme .head-main {
    color: rgb(0, 0, 0);
    background-color: white;
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.light-theme footer {
    background: rgb(2,0,36);
    background: linear-gradient(270deg, rgb(53, 47, 162) 0%, rgba(255,255,255,1) 0%, rgba(122,9,224,1) 100%);
    color: rgb(0, 0, 0);
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.light-theme footer img {
    color: #f0f0f0;
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.light-theme .not-logged-in-message,
body.light-theme .not-logged-in-message-upload-track {
    background-color: #ffffff;
    border: 2px solid #ccc;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.664);
    color: rgba(160, 19, 179, 0.918);
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.light-theme .not-logged-in-message a,
body.light-theme .not-logged-in-message-upload-track a{
    background-color: #851794;
    color: #ffffff;
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.light-theme .not-logged-in-message a:hover,
body.light-theme .not-logged-in-message-upload-track a:hover{
    background-color: rgb(255, 3, 192);
    transition: background-color 0.5s ease, color 0.5s ease;
}



/*Темная тема*/
body.dark-theme {
    background-color: #2e2c2e;
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.dark-theme .registration a {
    color: rgb(48, 44, 44);
    transition: background-color 0.5s ease, color 0.5s ease;
}


body.dark-theme .head-item-active {
    background-color: rgb(129, 22, 190);
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.dark-theme .sidebar-item-active {
    color: white;
    background-color: rgb(143, 15, 182);
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.dark-theme header {
    background: #59117a;
    background: linear-gradient(90deg,rgba(89, 17, 122, 1) 0%, rgba(41, 9, 121, 1) 35%, rgba(3, 2, 2, 1) 100%);
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.dark-theme .head-item,
body.dark-theme .head-item-active {
    color: rgb(255, 255, 255);
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.dark-theme .head-item:hover,
body.dark-theme .head-item-active:hover {
    background-color: rgb(167, 21, 211);
    color: rgb(0, 0, 0);
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.dark-theme .user-info.logged-in .welcome-message {
    color: white;
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.dark-theme #logout-link {
    color: rgba(128, 121, 121, 0.7);
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.dark-theme #user-nickname {
    color: white;
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.dark-theme .user-info:not(.logged-in) .registration-item,
body.dark-theme .user-info:not(.logged-in) .login-item {
    color: white;
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.dark-theme .user-info:not(.logged-in) .registration-item:hover,
body.dark-theme .user-info:not(.logged-in) .login-item:hover {
    background-color: rgb(88, 19, 117);
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.dark-theme .sidebar-left {
    background: #59117a;
    background: linear-gradient(180deg,rgba(89, 17, 122, 1) 0%, rgba(41, 9, 121, 1) 35%, rgba(3, 2, 2, 1) 100%);
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.dark-theme .sidebar-item, 
body.dark-theme .sidebar-item-active {
    color: rgb(255, 255, 255);
    border-bottom: 1px solid rgba(31, 2, 29, 0.388);
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.dark-theme .sidebar-item:hover, 
body.dark-theme .sidebar-item-active:hover {
    background-color: rgba(167, 18, 129, 0.488);
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.dark-theme .head-main {
    color: rgb(255, 255, 255);
    background-color: rgb(18, 3, 32);
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.dark-theme footer {
    background: #59117a;
    background: linear-gradient(270deg,rgba(89, 17, 122, 1) 0%, rgba(41, 9, 121, 1) 35%, rgba(3, 2, 2, 1) 100%);
    color: rgb(0, 0, 0);
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.dark-theme footer img {
    color: #f0f0f0;
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.dark-theme .not-logged-in-message,
body.dark-theme .not-logged-in-message-upload-track {
    background-color: #222222;
    border: 1px solid #141414;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.849);
    color: rgba(233, 12, 203, 0.918);
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.dark-theme .not-logged-in-message a,
body.dark-theme .not-logged-in-message-upload-track a {
    background-color: rgba(233, 12, 203, 0.918);
    color: #1b1b1b;
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.dark-theme .not-logged-in-message a:hover,
body.dark-theme .not-logged-in-message-upload-track a:hover {
    background-color: rgb(255, 3, 192);
    transition: background-color 0.5s ease, color 0.5s ease;
}