.main-genre-music, .my-music-container{
    display: flex;
    flex-direction: column; 
    padding: 20px;
    align-items: center;
}

.container-sound {
    flex: 0 0 auto; 
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
    margin: 10px;
    justify-content: space-between;
    border-radius: 10px;
}

.image-sound {
    width: 100px;
    height: auto;
    overflow: hidden;
    border-radius: 10px;
}

.all-duration {
    display: flex;
    flex: 1;
}
.container-duration {
    display: flex;
    width: 100%;
}
.main-pain {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr, 1fr;
    padding: 10px;  
    flex-grow: 1;
    margin-right: 0;
}

.progress-container {
    position: relative;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.progress-bar {
    height: 100%;
    border-radius: 5px;
    width: 0;
    transition: width 0.1s ease-in-out;
}

.progress-thumb {
    position: absolute;
    top: -5px;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    overflow: hidden;
    transition: left 0.1s ease-in-out;
}

.text {
    line-height: 1.5;
    overflow-wrap: break-word;
    margin-left: 15px;
    text-align: left;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 10px;
}

.time {
    display: flex;
    font-family: "Fira Sans", serif;
    font-weight: 350;
    font-size: 20px;
    align-items: center; 
    justify-content: center;
}
.button-container {
    position: relative;
    display: flex;
    gap: 10px;
    align-items: center;
    margin-right: 10px;
}

.button-text {
    align-items: center;
    justify-content: center;
}

.heart-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23888' d='M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.53L12 21.35z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
    border: none;
    padding: 0;
}



.heart-icon.liked {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23e53935' d='M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.53L12 21.35z'/%3E%3C/svg%3E");
}
  

.button-load {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    border: none;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    cursor: pointer;
}

.line {
    width: 30px;
    height: 4px;
    margin-top: 1px;
    cursor: pointer;
}

.pause-button, .play-button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 10px;
}

.rectangle {
    width: 10px;
    height: 40px;
    margin: 0 5px;
}

.triangle {
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
}

.login-popup,
.like-popup,
.download-popup,
.like-required-popup,
.download-required-popup {
    position: absolute;
    z-index: 1000;
    display: none;
    top: 50%;
    transform: translateY(-50%);
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-family: "MyFont2", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    text-decoration: none;
}

/* Для показанных popup */
.login-popup.show,
.like-popup.show,
.download-popup.show,
.like-required-popup.show,
.download-required-popup.show {
    display: block;
    opacity: 1;
}

/* Позиционирование для разных типов */
.like-popup,
.like-required-popup {
    right: calc(100% + 10px);
}

.download-popup,
.download-required-popup {
    right: calc(100% + 10px);
}

/* Стили для ссылок внутри popup */
.login-popup a,
.like-popup a,
.download-popup a,
.like-required-popup a,
.download-required-popup a {
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
}

.login-popup a:hover,
.like-popup a:hover,
.download-popup a:hover,
.like-required-popup a:hover,
.download-required-popup a:hover {
    background-color: rgb(255, 3, 192);
}



/* Выбор темы*/
/*Светлая тема*/
body.light-theme .main-genre-music, 
body.light-theme .my-music-container{
    background-color: rgb(218, 215, 215);
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.light-theme .container-sound {
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.264);
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.light-theme .image-sound {
    border: 1px solid #00000035;
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.light-theme .progress-container {
    background: #888787af;
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.light-theme .progress-bar {
    background: #86398fbe;
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.light-theme .progress-thumb {
    background: #e60bcc;
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.light-theme .text {
    color: rgb(0, 0, 0);
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.light-theme .time {
    color: rgb(0, 0, 0);
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.light-theme .button-text {
    color: rgb(0, 0, 0);
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.light-theme .heart-icon {
    background-color: white;
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.light-theme .button-load {
    background-color: white;
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.light-theme .arrow-down {
    border-top: 35px solid #7c8083;
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.light-theme .line {
    background-color: #7c8083;
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.light-theme .arrow-down.loaded {
    border-top: 35px solid #bc19c2;
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.light-theme .line.loaded {
    background-color: #bc19c2;
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.light-theme .rectangle {
    background-color: #c42fb3;
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.light-theme .triangle {
    border-left: 40px solid #c42fb3;
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.light-theme .login-popup,
body.light-theme .like-popup,
body.light-theme .download-popup,
body.light-theme .like-required-popup,
body.light-theme .download-required-popup {
    background-color: #ffffff;
    border: 2px solid #ccc;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.664);
    color: rgba(160, 19, 179, 0.918);
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.light-theme .login-popup a,
body.light-theme .like-popup a,
body.light-theme .download-popup a,
body.light-theme .like-required-popup a,
body.light-theme .download-required-popup a {
    background-color: #851794;
    color: #ffffff;
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.light-theme .login-popup a:hover,
body.light-theme .like-popup a:hover,
body.light-theme .download-popup a:hover,
body.light-theme .like-required-popup a:hover,
body.light-theme .download-required-popup a:hover {
    background-color: rgb(255, 3, 192);
    transition: background-color 0.5s ease, color 0.5s ease;
}

/*Темная тема*/
body.dark-theme .main-genre-music, 
body.dark-theme .my-music-container{
    background-color: #2e2c2e;
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.dark-theme .container-sound {
    background-color: rgb(34, 33, 33);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.774);
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.dark-theme .image-sound {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.432);
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.dark-theme .progress-container {
    background: #131212;
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.dark-theme .progress-bar {
    background: #000000be;
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.dark-theme .progress-thumb {
    background: #ac08d4;
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.dark-theme .text {
    color: rgb(255, 255, 255);
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.dark-theme .time {
    color: rgb(255, 255, 255);
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.dark-theme .button-text {
    color: rgb(0, 0, 0);
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.dark-theme .heart-icon {
    background-color: rgb(34, 33, 33);
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.dark-theme .button-load {
    background-color: rgb(34, 33, 33);
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.dark-theme .arrow-down {
    border-top: 35px solid #7c8083;
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.dark-theme .line {
    background-color: #7c8083;
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.dark-theme .arrow-down.loaded {
    border-top: 35px solid  #ac08d4;
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.dark-theme .line.loaded {
    background-color:  #ac08d4;
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.dark-theme .rectangle {
    background-color:  #ac08d4;
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.dark-theme .triangle {
    border-left: 40px solid  #ac08d4;
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.dark-theme .login-popup,
body.dark-theme .like-popup,
body.dark-theme .download-popup,
body.dark-theme .like-required-popup,
body.dark-theme .download-required-popup {
    background-color: #313030;
    border: 2px solid #3a3939;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.664);
    color: rgb(255, 0, 242);
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.dark-theme .login-popup a,
body.dark-theme .like-popup a,
body.dark-theme .download-popup a,
body.dark-theme .like-required-popup a,
body.dark-theme .download-required-popup a {
    background-color: rgb(255, 0, 242);
    color: #ffffff;
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.dark-theme .login-popup a:hover,
body.dark-theme .like-popup a:hover,
body.dark-theme .download-popup a:hover,
body.dark-theme .like-required-popup a:hover,
body.dark-theme .download-required-popup a:hover {
    background-color: rgb(255, 0, 191);
    transition: background-color 0.5s ease, color 0.5s ease;
}