.genre-music{
    display: grid;
    place-items: center;
    grid-template-rows: 1fr 0.15fr; 
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.2s;
}

.genre-music-button {
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    border: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    font-family: "MyFont2", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 32px;
    transition: font-size 0.3s ease;

}

.circle {
    margin: 15px;
    width: 363px;
    height: 363px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    justify-content: center;
    cursor: pointer;
}

.text-circle {
    font-size: 20px;
    font-family: "MyFont2", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 32px;
    transition: font-size 0.3s ease;
}

.genre-music:hover {
    transform: scale(1.05);
}

.genre-music-button:hover, .text-circle:hover {
    font-size: 36px;
}

/* Выбор темы*/

/*Светлая тема*/
body.light-theme .genre-music{
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.899);
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.light-theme .genre-music-button {
    background-color: #424642;
    color: white;
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.light-theme .circle {
    color: white;
    transition: background-color 0.5s ease, color 0.5s ease;
}

/*Темная тема*/
body.dark-theme .genre-music{
    background-color: rgb(44, 44, 44);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.589);
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.dark-theme .genre-music-button {
    background-color: #202020;
    color: white;
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.dark-theme .circle {
    color: white;
    transition: background-color 0.5s ease, color 0.5s ease;
}